<u><h1><%=link_to @project.name, user_project_path(@user.id,@project.id)%></h1></u>

<h2><%=@task.name%></h2>
<h3>Asignee: <%=@assignee%></h3>
<%=button_to "Edit", edit_project_task_path(@project.id,@task.id), method:"get"%> <br>
<%=button_to "Delete", delete_task_path(@task.id), method:"delete"%>
