<h1><%=@project.name%></h1>

<%=form_for @section do |t|%>
 <%= t.hidden_field :project_id%>
  <%=t.label :section_name%>: <%=t.text_field :name%>
  <%=t.label :status%>: <%=t.text_field :status%>

  <%=t.submit%>
<%end%>
