<h1><%=@project.name%></h1>

<%=form_for @section do |t|%>
<% if @section.errors.any? %>
  <div id="error_explanation">
    <h5>Errors:</h5>
    <ul>
      <% @section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
 <%= t.hidden_field :project_id%>
 <%= t.hidden_field :creator%>
  <%=t.label :section_name%>: <%=t.text_field :name%>
  <%=t.label :status%>: <%=t.text_field :status%>

  <%=t.submit%>
<%end%>
